 /*Mulish-Google-Fonts*/
 @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Mulish:wght@800&family=Open+Sans:wght@800&family=Work+Sans:wght@700&display=swap');

 * {
     font-family: 'Merriweather', serif;
     font-family: 'Mulish', sans-serif;
     font-family: 'Open Sans', sans-serif;
     font-family: 'Work Sans', sans-serif;
 }

 /*Header-Section-Add*/
 header {
     padding: 30px 50px;
     max-width: 1440px;
     margin: 0 auto;
 }

 /*Nav-Section-Start*/
 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 nav li {
     list-style: none;
     margin-right: 44px;
     font-size: 18px;
     font-weight: 400;
 }

 nav li a {
     text-decoration: none;
     color: #424247;
 }

 .nav-img {
     display: flex;
     gap: 20px;

 }

 .nav-img p {
     color: #131318;
     font-size: 30px;
     font-weight: 800;
 }

 nav img {
     width: 78px;
 }

 nav ul {
     display: flex;
 }

 .special-text {
     color: #FF5400;
     font-weight: 800;
 }

 /*Nav-Section-End*/


 /*Banner-Section*/
 .banner {
     position: relative;
     width: 100%;
     display: flex;
     margin-top: 60px;
     height: 100vh;
     background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
         url('../image/Images/Group\ 13\ \(1\)\ \(1\).png');
     background-size: cover;
     background-repeat: no-repeat;
     border-radius: 10px;
     justify-content: center;
     align-items: center;
 }

 .banner-text {
     position: absolute;
     top: 10%;
     color: rgb(11, 10, 10);
     text-align: center;
     margin: 0px 300px;
 }

 .text-style {
     color: #FFF;
     font-size: 70px;
     font-weight: 800;
 }

 .description-style {
     color: #FFF;
     font-size: 16px;
     font-weight: 400;
     padding-left: 20px;
     margin-bottom: 70px;
 }



 /*Input-Style-Design*/
 .input-container {
     display: flex;
     gap: 20px;
     background: rgba(255, 255, 255, 0.30);
     border-radius: 8px;
     padding: 20px;
 }

 .input-desgin {
     width: 170px;
     height: 50px;
     border-radius: 8px;
     padding-left: 10px;

 }

 .input-desgin-only {
     width: 160px;
     height: 8.3vh;
     border-radius: 8px;
     padding-left: 15px;
     border: 0;
 }

 /*Button-Style*/
 .btn-primary {
     width: 170px;
     height: 50px;
     border-radius: 8px;
     background: #FF5400;
     color: #FFF;
     border: 0;
 }

 /*Feature-Section-Style*/
 .chart-container {
     display: flex;
     padding-right: 50px;
     gap: 59px;
 }

 .title {
     margin-left: 48px;
     margin-bottom: 24px;
     color: #131318;
     font-size: 35px;
     font-weight: 800;
     padding-top: 50px;
 }

 .description {
     margin-left: 50px;
     margin-bottom: 20px;
     color: rgba(19, 19, 24, 0.70);
     font-size: 16px;
     font-weight: 00;
     text-align: center;
 }

 .chart-description-end {
     color: #5A5A5D;
     font-size: 16px;
     font-weight: 600;
 }

 .chart-container ul {
     margin-left: 45px;
 }

 .chart-container li {
     margin-bottom: 20px;
     color: rgba(19, 19, 24, 0.70);
     font-size: 16px;
     font-weight: 400;
 }

 .btn-primary-2 {
     margin-left: 50px;
     width: 170px;
     height: 50px;
     border-radius: 8px;
     background: #FF5400;
     color: #FFF;
     border: 0;
     margin-top: 20px;
 }

 /*.btn-primary-3 {
    width: 50%;
    border-radius: 5px;
     padding: 14px 22px;
     background: #FF5400;
     color: #FFF;
     text-align: center;
 }

 /*location-style*/

 .location-banner-container {
     text-align: center;

 }

 .location-banner-container img {
     gap: 30px;
 }

 .img-container {
     padding-top: 25px;
 }

 .text-size {
     display: flex;
     justify-content: center;
     gap: 25px;
     margin-top: 20px;
 }

 .title {
     text-align: center;
     padding-right: 20px;
 }

 .title-section {
     color: #131318;
     font-size: 20px;
     font-weight: 800;
 }

 /*Location-Style-End*/

 /*Card-Style-Start*/
 .card-container {
     display: flex;
     margin-left: 50px;
     margin-right: 50px;
     gap: 30px;
 }

 .card-1 {
     width: auto;
     margin: 10px auto;
     background-color: #e6c1c133;
     border-radius: 16px;
     padding: 30px;
 }

 .card-2 {
     background-color: #29CEF633;
     border-radius: 16px;
     width: auto;
     margin: 10px auto;
     padding: 30px;
 }

 .card-3 {
     background-color: #e6c1c133;
     border-radius: 16px;
     width: 43%;
     margin: 10px auto;
     padding: 30px;
 }

 /*Card-Style-End*/

 /*Menu-Section-Start*/
 .main-container {
     display: flex;
     width: 1140px;
     height: 500px;
     background-image: url("../image/Images/Group\ 39.png");
     background-repeat: no-repeat;
     justify-content: end;
     align-items: center;
     margin: 0 auto;
     margin-bottom: 25px;
     border-radius: 20px
 }

 .main-container-2 {
     display: flex;
     width: 1140px;
     height: 500px;
     background-image: url("../image/Images/Group\ 40.png");
     background-repeat: no-repeat;
     align-items: center;
     margin: 0 auto;
     margin-bottom: 25px;
     border-radius: 20px;
 }

 .main-child {
     width: 570px;
     height: 389px;
     ;
     border-radius: 16px;
     border: 2px solid #FFF;
     background: rgba(255, 255, 255, 0.80);
     backdrop-filter: blur(2.5px);
     padding: 0 50px;
     margin: 0 60px;
 }

 .main-child-2 {
     width: 570px;
     height: 389px;
     ;
     border-radius: 16px;
     border: 2px solid #FFF;
     background: rgba(255, 255, 255, 0.80);
     backdrop-filter: blur(2.5px);
     padding: 0 50px;
     margin: 0 60px;
 }

 /*Description-Style*/
 .description-container {
     display: flex;
     align-items: center;
     gap: 50px;
 }

 .description-content {
     margin-left: 60px;
 }

 .description-img {
     padding-right: 50px;
 }

 /*Feature-Style*/
 .facility-section-container {
     display: flex;
     align-items: center;
     gap: 30px;
     margin-bottom: 20px;
     border-radius: 20px;
 }

 .feature-title {
     color: #131318;
     font-size: 40px;
     font-weight: 800;
 }

 .special-facility-text {
     color: purple;
 }

 .feature-content {
     background-color: rgb(192, 170, 236);
     border: 2px solid black;
     width: 900px;
     height: 80vh;
     border-radius: 20px;
     padding: 20px;
     margin: 0 auto;
 }

 .feature-description {
     color: #f0f0f7;
     font-size: 26px;
     font-weight: 400;
 }

 .btn-primary-5 {
     background: black;
     color: white;
     width: 150px;
     height: 52px;
     margin: 0 118px;
     margin-top: 90px;
     border-radius: 24px;

 }


 /*Newsletter-style*/
 .newsletter-container {
     display: flex;
     gap: 80px;
     align-items: center;
 }

 .newsletter-title {
     border-radius: 16px;
     border: 1px solid #FF5400;
     height: 360px;
     margin-top: 58px;
     margin-left: 20px;
     padding: 20px;

 }

 .news-style {
     color: #131318;
     font-size: 24px;
     font-weight: 600;

 }

 .paragraph style {
     color: #5A5A5D;
     font-size: 16px;
     font-weight: 400;
 }

 .input-style {
     width: 393px;
     height: 62px;
     margin-top: 20px;

 }

 .newsletter-container img {
     width: 97%;
     margin-top: 70px;
 }

 .news-img {
     position: relative;
     text-align: center;
 }

 .btn-primary-4 {
     width: 393px;
     height: 52px;
     border-radius: 8px;
     background: #FF5400;
     color: #FFF;
     font-size: 20px;
     font-weight: 800;
     margin-top: 20px;

 }

 /*footer-Style*/
 .footer-container {
     width: 100%;
     height: 502px;
     border: 2px solid tomato;
     background: rgba(19, 19, 24, 0.05);
     margin-top: 80px;
 }

 .footer-title {
     align-items: center;

 }

 .footer-icon {
     display: flex;
     justify-content: center;
     margin-top: 50px;
 }

 .footer-text {
     color: #131318;
     font-size: 32px;
     font-weight: 800;
     text-align: center;
     margin-top: 50px;
 }

 .footer-img {
     text-align: center;
     margin-top: 50px;
 }

 .footer-end {
     margin-top: 90px;
     text-align: center;
 }

 .footer-description {
     color: #5A5A5D;
     text-align: center;
     font-size: 16px;
     font-weight: 400;

 }

 /*News-Letter-Style*/


 /*Responsive-Desgin*/

 @media screen and (max-width:576px) {

     /*Nav-Section-start*/
     nav,
     .text-size {
         flex-direction: column;
     }

     nav ul {
         flex-direction: column;
     }

     /*Nav-Section-nd*/

     /*Input-Section-Start*/
     header {
         padding: 2px;
     }

     .description-style {
         margin-bottom: 5px;
         padding-left: 10px;
         padding-right: 10px;
     }

     .text-style {
         font-size: 20px;
     }

     .text-size img {
         width: 100%;
         height: 50vh;
         padding-right: 3px;
     }

     .input-container {
         flex-direction: column;
         gap: 15px;
         padding: 10px;
     }

     .btn-primary,
     .input-desgin {
         width: 250px;
     }

     .input-desgin-only {
         width: 232px;
     }

     /*Input-Desgin-End*/
     /*Chart-Section-Start*/
     .chart-container {
         flex-direction: column;
         gap: 26px;
     }

     .chart-img-container img {
         width: 100%;
         padding-left: 30px;
         border-radius: 12px;
     }

     .title {
         margin-left: 10px;
         font-size: 20px;
     }

     .description {
         margin-left: 10px;
         font-size: 15px;
     }

     .chart-container ul {
         margin-left: 0px;
     }

     .btn-primary-2 {
         margin-left: 40px;
     }

     /*Card-Style-Start*/
     .card-container {
         flex-direction: column;
         margin-left: 1px;
         margin-right: 1px;
     }

     .card-3 {
         width: auto;
     }

     /*Menu-Section-Start*/
     .main-container,
     .main-container-2 {
         flex-direction: column;
         width: 100%;
         border-radius: 20px;
         margin: 0 auto;
         margin-bottom: 20px;
         border: 2px solid black;

     }

     .main-child,
     .main-child-2 {
         width: 50%;
         height: 99%;
     }

     .btn-primary {
         width: 100px;
         margin-bottom: 29px;
     }

     /*description-style*/
     .description-container {
         flex-direction: column;
     }

     .description-container img {
         width: 100%;
         border-radius: 10px;
     }

     .description-img {
         padding: 0 10px;
     }

     .description-content ul {
         width: auto;
     }

     .description-content {
         margin: 0 auto;
     }

     .team-description {
         width: 300px;
     }

     /*footer-style*/
     /*newsletter-style*/
     .newsletter-container {
         flex-direction: column;
         gap: 30px;
     }

     .newsletter-title {
         width: 90%;
         padding: 0 15px;
         margin-left: 10px;
         height: 420px;
         margin-right: 10px;
     }

     .btn-primary-4 {
         width: 258px;
         margin-top: 10px;
         margin-top: 20px;
     }

     .input-style {
         width: 258px;
     }

     .footer-container {
         height: 0px;
     }

     .footer-title {}

     .footer-end {
         margin-top: 40px;
         padding-bottom: 20px;
     }
 }